.chat-side
  .side-header
    .top-items
      .top-items__name
        %p masa
      .top-items__icons
        =link_to "#", class: "new-group" do
          = icon('fa', 'edit', class: "icon--edit")
        =link_to "#", class: "edit-user" do
          = icon('fa', 'cog', class: "icon--cog")
  .side-groups